
html{
    height: 100%;
}

body {
    min-height: 100%;
    background: #75E3FF;
    background: -moz-radial-gradient(center, #75E3FF 0%, #2388CB 47%, #3B849C 100%);
    background: -webkit-radial-gradient(center, #75E3FF 0%, #2388CB 47%, #3B849C 100%);
    background: radial-gradient(ellipse at center, #75E3FF 0%, #2388CB 47%, #3B849C 100%);
}

main{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.fiveday {
	display: flex;
	align-items: center;
	}

.forecast{
        padding: 0.3em
    }